﻿.EtiTitre
    {
        background-color:transparent;
        border-style:none;
        color:gray;
        font-family:'Trebuchet MS';
        font-size:medium;
        font-style:normal;
        font-weight:bold;
        margin-bottom:0px;
        margin-left:0px;
        margin-top:2px;
        text-align:left;
        text-indent:0px;
    }
     .EtiSousTitre
    {
        background-color:transparent;
        border-style:none;
        color:black;
        font-family:'Trebuchet MS';
        font-size:small;
        font-style:normal;
        font-weight:normal;
        margin-bottom:0px;
        margin-left:0px;
        margin-top:2px;
        text-align:left;
        text-indent:0px;
    }
    .EtiEntete
    {
        background-color:transparent;
        color:black;
        font-family:'Trebuchet MS';
        font-size:small;
        font-style:italic;
        font-weight:normal;
        height:20px;
        margin-bottom:0px;
        margin-left:0px;
        margin-top:0px;
        text-indent:4px;
        text-align:left;
        width:250px;
    }
    .DonEntete
    {
        background-color:transparent;
        color:black;
        font-family:'Trebuchet MS';
        font-size:small;
        font-style:normal;
        font-weight:normal;
        height:20px;
        margin-bottom:0px;
        margin-left:0px;
        margin-top:0px;
        text-indent:1px;
        text-align:left;
        width:496px;
    }
    .EtiIntituleRight
    {
        background-color:transparent;
        border-right-style:outset;
        border-right-width:1px;
        color:black;
        font-family:'Trebuchet MS';
        font-size:small;
        font-style:normal;
        font-weight:normal;
        margin-bottom:0px;
        margin-left:0px;
        margin-top:0px;
        text-indent:0px;
        text-align:left;
    }
     .EtiIntituleTop
    {
        background-color:transparent;
        border-top-style:outset;
        border-top-width:1px;
        color:black;
        font-family:'Trebuchet MS';
        font-size:small;
        font-style:normal;
        font-weight:normal;
        margin-bottom:0px;
        margin-left:0px;
        margin-top:0px;
        text-indent:5px;
        text-align:left;
    }
      .EtiIntituleRightAndTop
    {
        background-color:transparent;
        border-right-style:outset;
        border-right-width:1px;
        border-top-style:outset;
        border-top-width:1px;
        color:black;
        font-family:'Trebuchet MS';
        font-size:small;
        font-style:normal;
        font-weight:normal;
        margin-bottom:0px;
        margin-left:0px;
        margin-top:0px;
        text-indent:5px;
        text-align:left;
    }